<h1>Editing Book</h1>
<%= form_with model:@list, url:"/todolists/#{@list.id}", local:true do |f| %>
  <div class="field">
    <label for="list-title">Title</label>
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <label for="list-body">Body</label>
    <%= f.text_area :body %>
  </div>
  <div class="actions">
    <%= f.submit 'Update Book' %>
  </div>
<% end %>
  <a class="show" href="#">Show</a>
  |
  <a class="back" href="#">Back</a>

