 <p><strong>Title:</strong> <%= @list.title %></p>
 <p><strong>Body:</strong> <%= @list.body %></p>
 <%= link_to "Edit", edit_todolist_path(@list.id) %>
 |
 <%= link_to "Back", destroy_todolist_path(@list.id), method: :delete, "data-confirm" => "Are you sure?" %>